.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 1px 3px gray;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 1rem;
}

input[type="submit"],
input[type="button"] {
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  opacity: 0.5;
}

input[type="submit"]:focus,
input[type="button"]:focus {
  opacity: 1;
}

input[type="submit"]:hover:disabled,
input[type="button"]:hover:disabled {
  opacity: 1;
}

input[type="submit"]:disabled,
input[type="button"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.field-error-container {
  color: #ff0000;
  display: flex;
  align-items: center;
}
